head
	meta(charset='UTF-8')
form.login
	p.desc Proszę, zaloguje się aby uzyskać pełny dostęp do aplikacji.
	p.title Logowanie
	input(type='text', placeholder='Użytkownik', autofocus='')
	i.fa.fa-user
	input(type='password', placeholder='Hasło')
	i.fa.fa-key
	button
		a(href='/logged') Log in
